<div class="container">
  <h1>Demo: Candlesticks</h1>
  <h5 class="text-info">Not all Pairs are working in Demo!</h5>
  <div>
    <%= form_tag api_candlesticks_path, method: :get do %>
      <%= select_tag :dotcom,  options_from_collection_for_select(@dotcoms, "id", "name", 
        @dotcom&.id), prompt: "- Dotcom", onchange: "this.form.submit()" 
      %>
      <%= select_tag :pair,  options_from_collection_for_select(@pairs, "id", "code", 
        @dotcom&.id), prompt: "- Pair", onchange: "this.form.submit()" 
      %>
    <% end %>
  </div>
  <div>
    <% if @dotcom.present? and @pair.present? and @candles.present? %>
      <hr/>
      <h5>Pair: <%= @pair.code %></h5>
      <% if @dotcom.name == 'binance' %>
        <table class='table table-hover'>
          <thead>
            <th>Open time</th>
            <th>Open</th>
            <th>High</th>
            <th>Low</th>
            <th>Close</th>
            <th>Volume</th>
            <th>Close time</th>
            <th>Quote asset volume</th>
            <th>Number of trades</th>
            <th>Taker buy base asset volume</th>
            <th>Taker buy quote asset volume</th>
          </thead>
          <tbody>
            <% @candles.each do |candle| %>
              <% if candle[4] > candle[1]%>
                <tr class="text-success">
              <% else %>
                <tr class="text-danger">
              <% end %>
                <td><%= show_time(candle[0]/1000) %></td>
                <td><%= candle[1] %></td>
                <td><%= candle[2] %></td>
                <td><%= candle[3] %></td>
                <td><%= candle[4] %></td>
                <td><%= candle[5] %></td>
                <td><%= show_time(candle[6]/1000) %></td>
                <td><%= candle[7] %></td>
                <td><%= candle[8] %></td>
                <td><%= candle[9]  %></td>
                <td><%= candle[10] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% elsif @dotcom.name == 'cexio' %>
        <table class='table table-hover'>
          <thead>
            <th>Open time</th>
            <th>Open</th>
            <th>High</th>
            <th>Low</th>
            <th>Close</th>
            <th>Volume</th>
          </thead>
          <tbody>
            <% @candles.each do |candle| %>
              <% if candle[4] > candle[1]%>
                <tr class="text-success">
              <% else %>
                <tr class="text-danger">
              <% end %>
                <td><%= show_time(candle[0].to_i) %></td>
                <td><%= candle[1].to_f %></td>
                <td><%= candle[2].to_f %></td>
                <td><%= candle[3].to_f %></td>
                <td><%= candle[4].to_f %></td>
                <td><%= candle[5].to_f %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    <% else%>
      <% if @error_msg.present? %>
        <hr/>
        <h5 class="text-danger">Error:</h5>
        <%= table_body @error_msg %>
      <% end %>
    <% end %>
  </div>
</div>
