<nav class="navbar navbar-expand-lg navbar-light bg-faded">
  <div class="container-fluid">
    <!-- Brand (App Home Page) -->
    <div class="navbar-brand">
      <%= link_to image_tag('logos/app.png', title: app_name,  size: '50x50'), root_path %>
    </div>
    <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbarNav" data-bs-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">

        <!-- Working Dropdown list -->
        <li class="nav-item dropdown">
          <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" id="navbarDropdown" role="button">
            <span aria-hidden="true" class="fa-solid fa-folder" style="color:navy"></span>
            <%= "Working Pages" %>
          </a>
          <div aria-labelledby="navbarDropdown" class="dropdown-menu">
            <div class="dropdown-item">
              <%= link_to "Select Candlestick", candlesticks_path, class: "text-decoration-none" %>
            </div>
            <div class="dropdown-item">
              <%#= link_to "Trades History",  "#", class: "text-decoration-none" %>
            </div>
            <div class="dropdown-item">
              <%#= link_to "OHLC",  "#", class: "text-decoration-none" %>
            </div>
            <div class="dropdown-item">
              <%#= link_to "Candlesticks Chart",  "#", class: "text-decoration-none" %>
            </div>
            <div class="dropdown-item">
              <%#= link_to "Trades Data",  "#", class: "text-decoration-none" %>
            </div>
            <div class="dropdown-item">
              <%#= link_to "Depth Data",  "#", class: "text-decoration-none" %>
            </div>
          </div>
        </li>

        <!-- Entities Dropdown list -->
        <li class="nav-item dropdown">
          <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" id="navbarDropdown" role="button">
            <span aria-hidden="true" class="fa-solid fa-database" style="color:navy"></span>
            <%= "Entities" %>
          </a>
          <div aria-labelledby="navbarDropdown" class="dropdown-menu">
            <div class="dropdown-item">
              <%#= link_to "Coins",  coins_path, class: "text-decoration-none" %>
            </div>
            <div class="dropdown-item">
              <%#= link_to "Coin Nicknames",  coin_nicknames_path, class: "text-decoration-none" %>
            </div>
            <div class="dropdown-item">
              <%#= link_to "Pairs",  pairs_path, class: "text-decoration-none" %>
            </div>
            <div class="dropdown-item">
              <%#= link_to "Pair Nicknames",  pair_nicknames_path, class: "text-decoration-none" %>
            </div>
            <div class="dropdown-item">
              <%#= link_to "Runs",  runs_path, class: "text-decoration-none" %>
            </div>
        </li>

        <!-- Demo Dropdown list  -->
        <li class="nav-item dropdown">
          <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" id="navbarDropdown" role="button">
            <span aria-hidden="true" class="fa-solid fa-folder" style="color:navy"></span>
            <%= "Demo Pages" %> 
          </a>
          <div aria-labelledby="navbarDropdown" class="dropdown-menu">
            <div class="dropdown-item">
              <%= link_to "App Demo", demo_path, class: "text-decoration-none", class: "text-decoration-none" %>
            </div>
            <div class="dropdown-item">
              <%= link_to "API Calls", api_calls_path, class: "text-decoration-none" %>
            </div>
            <div class="dropdown-item">
              <%= link_to "API Candlesticks", api_candlesticks_path, class: "text-decoration-none" %>
            </div>
            <div class="dropdown-item">
              <%= link_to "API Trades", api_trades_path, class: "text-decoration-none" %>
            </div>
          </div>
        </li>
            <%# %h4=link_to "Public API", pages_public_api_path
            %h4= link_to "Trade API", pages_trade_api_path
            %h4= link_to "Charts", pages_charts_path %>
      </ul>
    </div>
  </div>
 </nav>
      <%# %h4= link_to "Pairs", pages_pairs_path
      %h4= link_to "Trades History", trades_index_path
      %h4= link_to "OHLC", trades_ohlc_path
      %h4= link_to "Candlesticks Chart", trades_candlesticks_path
      %h4= link_to "Trades Data", pages_trades_data_path
      %h4= link_to "Depth Data", pages_depth_data_path %>

