<div id="<%= dom_id binance_candle %>">
  <p>
    <strong>Quote volume:</strong>
    <%= binance_candle.quote_volume %>
  </p>

  <p>
    <strong>Trades:</strong>
    <%= binance_candle.trades %>
  </p>

  <p>
    <strong>Taker base volume:</strong>
    <%= binance_candle.taker_base_volume %>
  </p>

  <p>
    <strong>Taker quote volume:</strong>
    <%= binance_candle.taker_quote_volume %>
  </p>

</div>
