<div class='container'>
  <table class='table table-striped'>
    <tbody>
      <% @api.attributes.each do |key, value| %>
        <tr>
          <% unless key == 'id' || key.include?('digest') || key == 'created_at' || key == 'updated_at' %>
            <% if key == 'status' %>
              <td><%= t 'status.status' %></td>
              <td><%= status_mark @api.status %></td>
            <% elsif key == 'dotcom_id' %> 
              <td><%= t "activerecord.attributes.api.#{key}" %></td>
              <td><%= @api.dotcom.name %></td>
            <% elsif key == 'secret' %> 
              <td><%= t "activerecord.attributes.api.#{key}" %></td>
              <td><%=  key_tail(@api.show_secret) if not @api.show_secret.nil? %></td>
            <% else %>
              <td><%= t "activerecord.attributes.api.#{key}" %></td>
              <td><%= value %></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= render 'admin/shared/show_rich_text_content', object: @api %>
  <%= render 'admin/shared/show_images', object: @api %>
</div>
