<div class='container'>
  <p style='color: green'><%= notice %></p>
  <h1>
    <%= t Pair.model_name.human %>
    <%= images_tag(
          [
            @pair.base.avatar.variant(resize_to_limit: [40, 40]),
            @pair.quote.avatar.variant(resize_to_limit: [40, 40])
          ]
        )
    %>
  </h1>
  <%= render @pair %>
  <%= render 'admin/shared/show_actions', object: @pair %>
</div>
